.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000003e;
  opacity: 1;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.no-scroll {
  overflow: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 400px;
  min-height: 300px;
  padding: 25px;
  background-color: skyblue;
  transform: translate(-50%, -50%);
}

.form-group label {
  display: block;
  margin-bottom: 10px;
}

.btn-submit {
  display: block;
}
input[type="text"],
[type="email"],
[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: vertical;
  max-height: 120px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

button:hover {
  background-color: #0056b3;
}

.button-close {
  position: fixed;
  top: 15px;
  right: 15px;
}

label[for="check"] {
  margin-bottom: 10px;
} 